<html>
	<head>
		<title>
			
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/static/css/front/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
	</head>
	<body>
		<div class="container" ng-app="app" ng-controller="AppCtrl as app">
			<div class="leftpanel">
				<img src="/static/img/img.jpg" id="image1">
					<div class="form">
							
							<button class="primaryBtn" id="seating"><i class="fa fa-check" id="sCheck" style="display:none;"></i>SEATING</button>
							<button class="primaryBtn" id="waiting"><i class="fa fa-check" id="wCheck"></i>WAITING</button>
							<button class="primaryBtn" id="takeAway"><i class="fa fa-check" id="tCheck" style="display:none"></i>TAKE-AWAY</button>
							<br>
							<br>
						<div id="seatingForm" style="display:none">
						<form>
							<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
							<div class="form-control">
								<label>Name:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.seatingClient.name">
							</div>
							<div class="form-control">
								<label>Phone:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.seatingClient.mobile">
							</div>
							<div class="form-control">
								Size :
								<button class="sizeAdjust" id="Sadd1">+</button>
								<input class="input3" id="SsizeBox" value="1" ng-model="app.seatingClient.partySize">
								<button class="sizeAdjust" id="Ssub1">-</button>
								
							</div>
							<div class="form-control">
								Notes:<br>
								<textarea class="Notes2" ng-model="app.seatingClient.notes"></textarea>
							</div>
							<div class="form-control">
								<button id="doneSeating" ng-click="app.addSeatingClient(app.seatingClient)">Done!</button>
							</div>
						</form>
						</div>

						<div id="waitingForm">
						<form>
							<div class="form-control">
								<label>Name:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.waitingClient.name">
							</div>
							<div class="form-control">
								<label>Phone:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.waitingClient.mobile">
							</div>
							<div class="form-control2">
								Size :
								<button class="sizeAdjust" id="Wadd1">+</button>
								<input class="input3" id="WsizeBox"  ng-model="app.waitingClient.partySize">
								<button class="sizeAdjust" id="Wsub1">-</button>
								<br>
								<br>
								<label>Quote-Time:</label>
								<select class="input2">
									<option>1</option>
								</select>
							</div>
							<div class="form-control3">
								Notes:<br>
								<textarea class="Notes" ng-model="app.waitingClient.notes"></textarea>
							</div>
							<div class="form-control">
								<br><br>
								<button id="doneSeating" name="waiting" ng-click="app.addWaitingClient(app.waitingClient)">Done!</button>
							</div>

						</form>
						</div>

						<div id="takeAwayForm" style="display:none">
						<form>
							<div class="form-control">
								<label>Name:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.takeAwayClient.name">
							</div>
							<div class="form-control">
								<label>Phone:</label>
								<input class="input1" type="text" placeholder="" ng-model="app.takeAwayClient.mobile">
							</div>
							<div class="form-control">
								Notes:<br>
								<textarea class="Notes2" ng-model="app.takeAwayClient.notes"></textarea>
							</div>
							<div class="form-control">
								<button id="doneSeating" ng-click="app.addTakeAwayClient(app.takeAwayClient)">Done!</button>
							</div>
						</form>
						</div>

					</div>
				<div id="checkoutArea">
					<br>
					<br>
					<div id="checkoutdiv">
						<form>
							<input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
							<label>Select Table</label>
							<select ng-model="app.table.number" ng-options="table.number for table in app.tables|filter:{status:1}">
								<option value="">-- Choose table --</option>
							</select>
							<button id="checkout" ng-click="app.removeTable(app.table)">CHECKOUT</button>
						</form>
					</div>
				</div>
			</div>
			<div class="rightpanel">
				<div id="panelHeader">
					<div class="panelHeadings" id="waiting-btn" style="border-bottom:5px solid #FBE74B;"><div>Waiting</div></div>
					<div class="panelHeadings" id="seating-btn"><div>Seating</div></div>
					<div class="panelHeadings" id="takeAway-btn"><div>Take Away</div></div>
				</div>
			<!-- ng-repeat starts here-->

				<div id="clientList">

					{% verbatim %}
					<div id="waitList">
						
						<div  class="usersBox" ng-repeat="waitingClient in app.waitingClients">
							<div class="partySize">
									<span class="partyNo">{{waitingClient.tablesReqd}}</span><br>
									people
							</div>
							<div class="infoBox">
								<span class="clientName">{{waitingClient.name}}</span>
								<br>
								<span class="clientMobile">{{waitingClient.mobile}}</span>
								<br>
								<span class="clientWaitingTime">Waiting-Time:<span class="waitingTime">+5:30</span></span>
								<br>
								<span class="clientWaitingTime">Quoted-Time:<span class="quotedTime">+5:30</span></span>
							</div>
							<div class="optionsBox">
								<a href="#profileW{{waitingClient.mobile}}" class="options">View Profile</a>
								<a href="#notifyW{{waitingClient.mobile}}"class="options">Notify</a>
								<a href="#seatW{{waitingClient.mobile}}" class="options">Allot Seat</a>
								<a class="options">No Show</a>
							</div>

							<div class="modal" id="profileW{{waitingClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Customer Profile
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<table class="profileTable">
											<tr>
												<td class="proData1">Name</td>
												<td class="proData2">{{waitingClient.name}}</td>
											</tr>
											<tr>
												<td class="proData1">Mobile</td>
												<td class="proData2">{{waitingClient.mobile}}</td>
											</tr>
											<tr>
												<td class="proData1">Age</td>
												<td class="proData2">{{waitingClient.age}}</td>
											</tr>
											<tr>
												<td class="proData1">Last Visited</td>
												<td class="proData2">{{waitingClient.lastVisited}}</td>
											</tr>
											<tr>
												<td class="proData1">Notes</td>
												<td class="proData2">aloo</td>
											</tr>
										</table>
									</div>
									<div class="modal_footer">
									</div>
								</div>
							</div>

							<div class="modal" id="notifyW{{waitingClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Notify Customer
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<p>Send a Message to {{waitingClient.mobile}}</p>
									</div>
									<div class="modal_footer">
									<button class="allot" id=w{{waitingClient.mobile}} ng-click="app.notifyWaitingClient()">Notify</button>
									</div>
								</div>
							</div>

							<div class="modal" id="seatW{{waitingClient.mobile}}">
							<div class="modal_box">
								<form method="post">
								<div class="modal_heading">
									Allot Seat
									<a class="close" href="#close">close</a>
									</div>
								<div class="modal_body">
									<div class="table"   ng-repeat="table in app.tables|filter:{status:0}">
										<input id="{{table.number}}" type="checkbox" name="selectedtables" value="{{table.number}}">{{table.number}}
									</div>
								</div>
								<div class="modal_footer">
								
								<button class="allot" ng-click="app.ajaxAddTable()">Seat</button>
								
								</div>
								</form>
							</div>
							</div>


						</div>

					</div>



					<div id="seatList" style="display:none">
						<div  class="usersBox" ng-repeat="seatingClient in app.seatingClients">
							<div class="partySize">
									<span class="partyNo">{{seatingClient.tablesReqd}}</span><br>
									people
							</div>
							<div class="infoBox">
								<br>
								<span class="clientName">{{seatingClient.name}}</span>
								<br>
								<span class="clientMobile">{{seatingClient.mobile}}</span>
								<br>
							</div>
							<div class="optionsBox">
								<a class="options" href="#profileS{{seatingClient.mobile}}">View Profile</a>
								<a class="options" href="#notifyS{{seatingClient.mobile}}">Notify</a>
								<a class="options" href="#seatS{{seatingClient.mobile}}">Allot Seat</a>
							</div>


							<div class="modal" id="profileS{{seatingClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Customer Profile
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<table class="profileTable">
											<tr>
												<td class="proData1">Name</td>
												<td class="proData2">{{seatingClient.name}}</td>
											</tr>
											<tr>
												<td class="proData1">Mobile</td>
												<td class="proData2">{{seatingClient.mobile}}</td>
											</tr>
											<tr>
												<td class="proData1">Age</td>
												<td class="proData2">{{seatingClient.age}}</td>
											</tr>
											<tr>
												<td class="proData1">Last Visited</td>
												<td class="proData2">{{seatingClient.lastVisited}}</td>
											</tr>
											<tr>
												<td class="proData1">Notes</td>
												<td class="proData2">aloo</td>
											</tr>
										</table>
									</div>
									<div class="modal_footer">
									</div>
								</div>
							</div>

							<div class="modal" id="seatS{{seatingClient.mobile}}">
							<div class="modal_box">
								<form method="post">
								<div class="modal_heading">
									Allot Seat
									<a class="close" href="#close">close</a>
									</div>
								<div class="modal_body">
									<div class="table"   ng-repeat="table in app.tables|filter:{status:0}">
										<input id="{{table.number}}" type="checkbox" name="selectedtables" value="{{table.number}}">{{table.number}}
									</div>
								</div>
								<div class="modal_footer">
								
								<button class="allot" ng-click="app.ajaxAddTable()">Seat</button>
								
								</div>
								</form>
							</div>
							</div>

							<div class="modal" id="notifyS{{seatingClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Notify Customer
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<p>Send a Message to {{seatingClient.mobile}}</p>
									</div>
									<div class="modal_footer">
									<button class="allot">Notify</button>
									</div>
								</div>
							</div>


						</div>			
					</div>


					<div id="takeAwayList" style="display:none">
						<div  class="usersBox" ng-repeat="takeAwayClient in app.takeAwayClients">
							<div class="partySize">
									<span class="partyNo">{{takeAwayClient.tablesReqd}}</span><br>
									people
							</div>
							<div class="infoBox3">
								<span class="clientName">{{takeAwayClient.name}}</span>
								<br>
								<span class="clientMobile">{{takeAwayClient.mobile}}</span>
								<br>
								<span class="clientWaitingTime">Waiting-Time:<span class="waitingTime">+5:30</span></span>
							</div>
							<div class="optionsBox">
								<a class="options" href="#profileT{{takeAwayClient.mobile}}">View Profile</a>
								<a class="options" href="#notifyT{{takeAwayClient.mobile}}">Notify</a>
								<a class="options">Order Completed</a>
							</div>


							<div class="modal" id="profileT{{takeAwayClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Customer Profile
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<table class="profileTable">
											<tr>
												<td class="proData1">Name</td>
												<td class="proData2">{{takeAwayClient.name}}</td>
											</tr>
											<tr>
												<td class="proData1">Mobile</td>
												<td class="proData2">{{takeAwayClient.mobile}}</td>
											</tr>
											<tr>
												<td class="proData1">Age</td>
												<td class="proData2">{{takeAwayClient.age}}</td>
											</tr>
											<tr>
												<td class="proData1">Last Visited</td>
												<td class="proData2">{{takeAwayClient.lastVisited}}</td>
											</tr>
											<tr>
												<td class="proData1">Notes</td>
												<td class="proData2">aloo</td>
											</tr>
										</table>
									</div>
									<div class="modal_footer">
									
									</div>
								</div>
							</div>

							<div class="modal" id="notifyT{{takeAwayClient.mobile}}">
								<div class="modal_box">
									<div class="modal_heading">
										Notify Customer
										<a class="close" href="#close">close</a>
									</div>
									<div class="modal_body">
										<p>Send a Message to {{takeAwayClient.mobile}}</p>
									</div>
									<div class="modal_footer">
									<button class="allot">Notify</button>
									</div>
								</div>
							</div>


						</div>			
					</div>


				</div>
				{% endverbatim %}	
			</div>
		</div>

		<!--
		
		MODALS BEGIN HERE
		
		-->

		

	


		<link rel="stylesheet" type="text/css" href="/static/css/front/style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/front/normalize.css">
		<script type="text/javascript" src="/static/js/angular.min.js"></script>
		<script type="text/javascript" src="/static/js/function.js"></script>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/script.js"></script>
		
	</body>
</html>